*{
    box-sizing: border-box; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    overflow:auto;
    float: left;
    width: 75%;
    padding:25px 25px;
    text-align: justify;
}
.content{
    margin-top: 10px;

}
header{
    padding: 5px 5px;
    background-color: teal;
    opacity: 10px;
    color: white;
    width: 100%;
    position: fixed;
    opacity: 0.9;
}
nav{
    float: right;
}
nav li{
    list-style-type: none;
    padding: 15px 15px;
    background-color: black;
    display: inline;
    border-radius: 5px;
}
li:hover{
    opacity: 0.5;
}
ul{
    margin-right: 10px;
}
.top-side{
    background-image: url(https://i.pinimg.com/originals/70/d6/b3/70d6b3aaf2857dce05601505b8ca7db0.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding:300px 10px 70px 10px;
    margin-bottom: 20px;
}

.logo{
    float: left;
}

.logo img{
    height: 50px;
    padding:10px;
}

.clear{
    clear: left;
}
nav a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white
}

article{
    padding:20px;
}
aside{
    float: right;
    width: 25%;
    padding:20px;
    text-align:left;
    background-color: lightblue;
    margin: 20px 0;
}

article h1{
    font-size: 50px;
    color: white;
    text-align: center;
    padding :10px;
    background-color: black;
    width: 100%;
    border-radius: 40px;
}
article h1:hover{
    padding:20px;
    opacity:0.8;
    cursor: pointer;
}
figcaption{
    color: darkgrey;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
 }

 figure img{
    max-width: 100%;
    height: auto;
 }

aside h1{
    text-align: center;
}

footer{
    display: inline-block;
    width: 100%;
    background-color: teal;
    color: white;
}
.Logo-kontak img{
    height: 50px;
    padding:10px;
}
.Logo-kontak{
    float: left;
}
.copyright{
    text-align: center;
}


 @media all and (max-width: 670px) {
    aside{
        width: 100%;
    }
    main{
        width: 100%;
    }

    article h1{
        font-size: 40px;
        padding :5px;
        width: 100%;
        border-radius: 40px;
    }
    footer{
        text-align: center;
    }
    .Logo-kontak img{
        height: 50px;
        padding:10px;
    }
}
